/* 
 abstracts/_variables.scss 
*/

/* COLOR */

/* Color Theme Swatches in RGBA */
/* RGBA 
color-1: rgba(242, 39, 93, 1);
color-2: rgba(93, 115, 60, 1);
color-3: rgba(191, 183, 63, 1);
color-4: rgba(242, 145, 27, 1);
color-5: rgba(191, 155, 147, 1);
*/

/* Color Theme Swatches in Hex */
$color-0: #555555;
$color-1: #f2275d;
$color-2: #5d733c;
$color-3: #bfb73f;
$color-4: #f2911b;
$color-5: #bf9b93;
$color-6: #ffffff;
$color-black: #000000;
$color-offwhite: rgba(255, 255, 255, .9);


